<ion-header-bar class="item-input-inset bar-stable">
  <a class="button icon-left ion-ios-arrow-left button-clear button-dark"></a>
</ion-header-bar>

<ion-view>
  <ion-content>
    <div class="box-panel">
        <h4><span>联系人</span></h4>
        <div class="panel-content border-t">
            <ul class="panel-list bor-b">
                <li>
                    <span class="pn-left">名称:</span>
                    <div class="pn-right">
                        <input type="text" placeholder="输入姓名" class="p-name" ng-model="userAddr.contactUserName"/>
                    </div>
                </li>
                <li>
                    <span class="pn-left">手机号码</span>
                    <div class="pn-right">
                        <input type="tel" placeholder="11手机号码" class="p-tel" ng-model="userAddr.contractTel"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-panel">
        <h4><span>配货地址ַ</span></h4>
        <div class="panel-content border-t">
            <ul class="panel-list bor-b">
                <li>
                    <span class="pn-left">选择区域：</span>
                    <div class="pn-right">
                        <span class="od-txt areaCity">
                          <ionic-city-picker options='vm.CityPickData'></ionic-city-picker>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="pn-left">详细地址:</span>
                    <div class="pn-right">
                        <textarea class="address-txt" placeholder="输入街道地址" ng-model="userAddr.address"></textarea>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
       <button class="button button-block button-positive button-assertive" ng-click="saveAddr()">保存</button>
    </div>

  </ion-content>
  </ion-view>
