<ion-header-bar class="item-input-inset bar-light">
  <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-back></a>
  <p class="title">关于我们</p>
</ion-header-bar>


<ion-view>
  <ion-content>
     <ion-grid>
       <ion-row>
         <p>
           空中田园有机鲜生APP是由广东空中田园农业技术有限公司开发的农产品销售平台，提供会员管理，农场产品预售、订购和在线支付功能
         </p>
       </ion-row>
       <ion-row>
         <p>
           Copy right 2016 广东空中田园农业技术有限公司
         </p>
       </ion-row>
       <ion-row>
         <p>
           协助开发：广州次优信息科技有限公司
         </p>
       </ion-row>
     </ion-grid>

  </ion-content>
</ion-view>
