<ion-header-bar class="item-input-inset bar-stable">
  <a class="button icon-left ion-ios-arrow-left button-clear button-dark"></a>
</ion-header-bar>
<ion-view>
  <ion-content>
        <h4 class="box-title"><span class="b-left">订单编号:{{orders.orderNo}}</span><span class="b-right">订单金额：￥{{orders.amount}}</span></h4>
        <div class="dian border-t">
            <ul class="dianList bor-b" id="produlist" ng-repeat="item in orders.items" >
                <li>
                    <a href="#">
                        <span class="dian-img"><img src="{{item.productUrl}}" /></span>
                        <div class="dian-desc">
                            <h6 class="row">
                                <p class="ellipsis2 col">{{item.productName}}</p>
                                <span class="dn-num">数量：{{item.sellCount}}</span>
                            </h6>
                            <p class="dn-price"><span class="dn-new">￥{{item.productPrice}}</span></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
     <div class="row list" >
       <div class="col col-50">  
           <ion-radio name="nameChoice" ng-model="addrChoice" ng-change="pushNotificationChange('A')" ng-value="'A'">配送到家</ion-radio>
         </div>
        <div class="col col-50">
           <ion-radio name="nameChoice"  ng-model="addrChoice" ng-change="pushNotificationChange('S')" ng-value="'S'">到实体店自取</ion-radio>
        </div>
      </div>

    <div class="row" ng-if="show_addr" >
      <div class="col col-offset-67" >
          <p class="getAddress" ><a ng-click="goAddress()" id="btnAddressOne">添加我的地址</a></p>
      </div>
    </div>
    
    <div class="row" ng-if="show_shop">
         <div class="col col-offset-67" >
            <p class="getAddress" ><a href="javascript:void(0);" id="btnAddressOne">选实体门店</a></p>
        </div>
    </div>
     <div class="row" >
     <div class="col col-20">
                地址：
     </div>
         <div class="col col-80" >
            <p >{{orders.contactUserName}}-{{orders.contractTel}}-{{orders.dispatchAddr}}</p>
        </div>
    </div>
  
    <div class="row list" >
        <div class="col col-50" >  
          <ion-radio name="nameEndType"  ng-model="orders.dispatchEndType" ng-value="1">今日送达约17:00送达 </ion-radio>
         </div>
         <div class="col col-50" >  
         <ion-radio name="nameEndType" ng-model="orders.dispatchEndType" ng-value="2">明日送达约17:00送达 </ion-radio>
         </div>
    </div>
    
    <div class="component payArea border-t">
        <p class="py1">支付金额：￥{{orders.amount}} <span></span></p>
        <p class="py2"></p>
        <div class="payBtn">
            <a  class="wxBtn">微信支付</a>
        </div>
    </div>
    </ion-content>
</ion-view>

