<ion-header-bar class="item-input-inset bar-light" align-title="center">
  <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-back></a>
  <p class="title">商品详情</p>
</ion-header-bar>

<ion-view>
  <ion-content ng-init="initProductDetailData()">
    <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000" show-pager="true">
      <ion-slide style="width: 100%; height: 120px;" ng-repeat="pdImg in productDetailImages">
        <div><img ng-src="{{pdImg.impageUrl}}"/></div>
      </ion-slide>
    </ion-slide-box>

    <div class="details">
      <div class="detail-head">
        <h2 ng-bind="productInfo.name"></h2>
        <p class="pct-txt" ng-bind="productInfo.weight"></p>
        <p class="pct-price">
          <span class="new-p">￥<em ng-bind="productInfo.distPrice"></em></span>
          <span class="old-p">￥<em ng-bind="productInfo.price"></em></span>
        </p>
        <div class="d-info row">
          <span class="d-info-l col" ng-bind="activities"></span>
          <span class="d-info-m col">已售数量:<em ng-bind="productInfo.countSale"></em></span>
          <!--<span class="d-info-r col">98%好评</span>-->
        </div>

        <div class="counts">
          <a class="b-reduce" href="javascript:void(0)" ng-click="sellCounts('reduce')"></a>
          <input type="tel" class="b-txt" ng-model="sellCount"/>
          <a class="b-add" href="javascript:void(0);" ng-click="sellCounts('add')"></a>
        </div>
      </div>

      <div class="m-pro-tab">
        <div class="nav-tabs">
          <ul class="row">
            <li class="col cur"><span>宝贝详情</span></li>
            <li class="col"><span>评价</span></li>
          </ul>
        </div>

        <div class="m-tab-content">
          <div class="tab-pane active">
            <div class="detail-content" data-ng-bind-html="productDetails.information"></div>
          </div>

          <!--<div class="tab-pane">
            <div class="comment">
              <ul class="commentList bor-b">
                <li>
                  <span class="cmtImg"><img src="images/c1.jpg" /></span>
                  <div class="cmtDesc">
                    <h6><span class="cmt-name ellipsis">yangbys</span><time>2016-02-06</time></h6>
                    <p class="cmt-txt">发货快，第二天下午就收到，奇异果个大，收到的时候每个都有点硬，放一天就好了，味甜微酸。</p>
                  </div>
                </li>
              </ul>

              <div class="loadMoreComment"><a href="allComment.html">查看全部评价</a></div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<ion-footer-bar class="item-input-inset bar-light">
  <div class="cmtFooter">
    <div class="cmtFrom">
      <div class="dr-btm col" style="width:120px; height: 40px; float: right; margin-right: -13px;">
        <a class="addCar" href="javascript:void(0)" ng-click="buy(productInfo)">立即购买</a>
      </div>

      <div class="dr-btm col" style="width:120px; height: 40px; float: right; margin-right: -5px;">
        <a class="addCar" href="javascript:void(0)" style="background-color: gold" ng-click="addShopCart(productInfo.id, productInfo.imageUrl, productInfo.name, productInfo.price, productInfo.weight, productInfo.tagPresell)">加入购物车</a>
      </div>
    </div>
  </div>
</ion-footer-bar>
