<ion-header-bar class="item-input-inset bar-light">
  <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-back></a>
  <p class="title">充值订单</p>
</ion-header-bar>

<ion-view>
  <ion-content ng-init="initRechargeOrderData()">
    <div class="component border-tb">
      <h4 class="box-title">
        <span class="b-left">会员充值</span>
        <span class="b-right" id="displayOrderId" ng-bind="orderNo"></span>
      </h4>

      <div class="dian border-t">
        <div class="rch padding-top">
          <p style="color: #e42112" ng-bind="rechargeAmount"></p>
        </div>

        <div class="rch padding-top padding-bottom" style="margin-top: 20px;">
          <p style="color: #e42112" ng-bind="payAmount"></p>
        </div>
      </div>
    </div>

    <div class="component payArea border-t">
      <div class="payBtn"><a class="wxBtn" href="javascript:void(0)" ng-click="payment()">微信支付</a></div>
    </div>
 </ion-content>
</ion-view>
