<ion-view>
  <ion-content>
    <div class="cart">
      <div class="cartHead">
        <h4><span>购物车(2)</span></h4>
        <a href="javascript:viod(0);" class="editCart">编辑</a>
      </div>

      <div class="product-cart">
        <div class="pct-cart-head row">
          <span class="allCheck col">有机鲜生旗舰店</span>
          <a href="javascript:;" class="getCoupon">领优惠券</a>
        </div>

        <ul class="product-cart-list">
          <li>
            <span class="checked"></span>
            <span class="pct-img"><img src="img/test1.jpg"></span>

            <div class="pct-desc">
              <h6 class="ellipsis2"><a href="#">Zespri佳沛新西兰阳光金奇异果10个Zespri佳沛新西兰阳光金奇异果10个Zespri佳沛新西兰阳光金奇异果10个</a></h6>
              <p>81-105g/个</p>
              <div class="pct-btm row">
                <div class="num-sel-lage clearfix">
                  <span class="inC">-</span>
                  <input type="tel" class="buy-num" value="1">
                  <span class="deC">+</span>
                </div>
                <span class="pct-price col">¥39.8</span>
              </div>
            </div>
          </li>

          <li>
            <span class="checked"></span>
            <span class="pct-img"><img src="images/test1.png" /></span>

            <div class="pct-desc">
              <h6 class="ellipsis2"><a href="#">Zespri佳沛新西兰阳奇异果10个</a></h6>
              <p>81-105g/个</p>
              <div class="pct-btm row">
                <div class="num-sel-lage clearfix">
                  <span class="inC">-</span>
                  <input type="tel" class="buy-num" value="1">
                  <span class="deC">+</span>
                </div>
                <span class="pct-price col">¥39.8</span>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="like">
        <h6><span>猜你喜欢</span></h6>
        <div class="likeProduct">
          <ul class="likeList clearfix">
            <li>
              <a href="#">
                <div class="likeImg"><img src="img/c_load.jpg" data-original="images/c1.png" class="lazy" /></div>
                <div class="like-title ellipsis2">泰国进口山竹4斤 新鲜时令水果60-80g/个</div>
                <p class="like-price"><span class="lk-new">￥<em>59.00</em></span><span class="lk-old">￥59.00</span></p>
                <p class="lk-buyNum"><span>123人已购买</span></p>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="likeImg"><img src="img/c_load.jpg" data-original="images/c1.png" class="lazy" /></div>
                <div class="like-title ellipsis2">泰国进口山竹4斤 新鲜时令水果60-80g/个</div>
                <p class="like-price"><span class="lk-new">￥<em>59.00</em></span><span class="lk-old">￥59.00</span></p>
                <p class="lk-buyNum"><span>123人已购买</span></p>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="likeImg"><img src="img/c_load.jpg" data-original="images/c1.png" class="lazy" /></div>
                <div class="like-title ellipsis2">泰国进口山竹4斤 新鲜时令水果60-80g/个</div>
                <p class="like-price"><span class="lk-new">￥<em>59.00</em></span><span class="lk-old">￥59.00</span></p>
                <p class="lk-buyNum"><span>123人已购买</span></p>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="likeImg"><img src="img/c_load.jpg" data-original="images/c1.png" class="lazy" /></div>
                <div class="like-title ellipsis2">泰国进口山竹4斤 新鲜时令水果60-80g/个</div>
                <p class="like-price"><span class="lk-new">￥<em>59.00</em></span><span class="lk-old">￥59.00</span></p>
                <p class="lk-buyNum"><span>123人已购买</span></p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="detailFoot">
      <div class="detail-btm border-t row">
        <span class="checkAll">全选</span>
        <div class="dr-btm col">
          <div class="cartInfo">
            <p class="c-p1">总计: <span class="countPrice">¥0.0</span></p>
            <p class="c-p2">(满88包邮，已优惠¥20)</p>
          </div>
          <a class="goBuging" href="#1">去结算</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
