<ion-header-bar class="item-input-inset bar-balanced">
  <i class="ion-ios-location-outline header-location"></i>
  <label class="header-location">广州市</label>

  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
</ion-header-bar>

<ion-view>
  <ion-content>

    <div class="i-swipe-banner" id="J_banner-slider">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination swiper-pagination-white"></div>
    </div>

    <div style="display: block">
      <nav class="menuList">
        <ul class="row">
          <li class="col"><a href="#">新品速递</a></li>
          <li class="col"><a href="#">天天特惠</a></li>
          <li class="col"><a href="#">充值有礼</a></li>
          <li class="col"><a href="#">社区店铺</a></li>
        </ul>
      </nav>
    </div>

    <div id="main">
      <div class="adArea">
        <a href="#"><img class="lazy" src="img/a_load.jpg" data-original="images/b1.png" /></a>
      </div>

      <div class="boxItem">
        <h6><span>人气推荐</span></h6>
        <div class="box-hm">
          <ul class="rq-rec clearfix">
            <li><a href="#"><img src="img/b2.png" /></a></li>
            <li><a href="#"><img src="img/b2.png" /></a></li>
            <li><a href="#"><img src="img/b2.png" /></a></li>
            <li><a href="#"><img src="img/b2.png" /></a></li>
            <li><a href="#"><img src="img/b2.png" /></a></li>
            <li><a href="#"><img src="img/b2.png" /></a></li>
          </ul>
        </div>
      </div>

      <div class="boxItem">
        <h6><span>厨房那些事</span></h6>
        <div class="box-img">
          <a href="#"><img class="lazy" data-original="images/b1.png" src="img/a_load.jpg" /></a>
        </div>

        <div class="box-hm">
          <div class="hor-view clearfix">
            <a href="#" class="hor-l"><img class="lazy" data-original="images/a1.png" src="img/c1_load.jpg" /></a>
            <div class="hor-r">
              <a href="#"><img class="lazy" data-original="images/a2.png" src="img/c2_load.jpg" /></a>
              <a href="#"><img class="lazy" data-original="images/a3.png" src="img/c2_load.jpg" /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="boxItem">
        <h6><span>厨房那些事</span></h6>
        <div class="box-img">
          <a href="#"><img class="lazy" data-original="images/b1.png" src="img/a_load.jpg" /></a>
        </div>

        <div class="box-hm">
          <div class="hor-view clearfix">
            <a href="#" class="hor-l"><img class="lazy" data-original="images/a1.png" src="img/c1_load.jpg" /></a>
            <div class="hor-r">
              <a href="#"><img class="lazy" data-original="images/a2.png" src="img/c2_load.jpg" /></a>
              <a href="#"><img class="lazy" data-original="images/a3.png" src="img/c2_load.jpg" /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="adArea">
        <a href="#"><img class="lazy" data-original="images/b1.png" src="img/a_load.jpg" /></a>
      </div>

      <div class="boxItem">
        <h6><span>厨房那些事</span></h6>
        <div class="box-img">
          <a href="#"><img class="lazy" data-original="images/b1.png" src="img/a_load.jpg" /></a>
        </div>
        <div class="box-hm">
          <div class="hor-view clearfix">
            <a href="#" class="hor-l"><img class="lazy" data-original="images/a1.png" src="img/c1_load.jpg" /></a>
            <div class="hor-r">
              <a href="#"><img class="lazy" data-original="images/a2.png" src="img/c2_load.jpg" /></a>
              <a href="#"><img class="lazy" data-original="images/a3.png" src="img/c2_load.jpg" /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="adArea">
        <a href="#"><img class="lazy" data-original="images/b1.png" src="img/a_load.jpg" /></a>
      </div>

      <div class="adArea">
        <a href="#"><img class="lazy" data-original="images/b1.png" src="img/a_load.jpg" /></a>
      </div>

    </div>

  </ion-content>
</ion-view>
