<ion-view>
  <ion-content>
       <nav class="cateTab">
            <ul class="row">
                <li class="col" data-type="sale"><span>销量</span></li>
                <li class="col" data-type="new"><span>上新</span></li>
                <li class="sortPrice col" data-type="price"><span>价格<i></i></span></li>
            </ul>
        </nav>
      
       <div>
        <ul class="productsList pList" ng-repeat="product in productData">
                    
                     <li>
                         <a ng-click="showProduct(product.id)">
                           <div class="p-img"><img  ng-src="{{product.imageUrl}}"/></div>
                             <h6 class="ellipsis2">{{product.name}}</h6>
                             <p class="p-weight">{{product.weight}}</p>
                             <p class="p-price"><span class="lk-new">￥<em>{{product.distPrice}}</em></span><span class="lk-old">￥{{product.price}}</span></p>
                         </a>
                         <a class="pct-buy" ng-click="addToCart(product.id, product.imageUrl,product.name,product.distPrice)">购物车</a>
                     </li>


        </ul>
      </div>
  </ion-content>
</ion-view>
