<ion-view>
  <ion-content ng-controller="CartCtrl" ng-init="initCartData()">
    <div class="cart">
      <div class="cartHead">
        <h4><span>购物车</span></h4>
      </div>

      <div class="product-cart">
        <div class="pct-cart-head row">
           <div class = "col col-33 c">
             <ion-checkbox ng-model="pushNotification.checked" ng-change="pushNotificationChange()" style="height:30px;border-style:none;"><span style="vertiral-align:center;">全选</span></ion-checkbox>
          </div>
          <div class="col col-67">
           <p>已选择 ( {{ total_qty }} ) =
                <strong>￥ {{total_amount}}</strong>
            </p>
            </div>
        </div>

        <ul class="product-cart-list" ng-repeat="item in cart"   >
          <li>
          
             <div class="col col-33">
               <div class="row">
              <div class="col-33"><ion-checkbox ng-model="item.cart_item_check" ng-change="itemNotificationChange(item.cart_item_id)" style="width:10px;height:20px;border-style:none;"></ion-checkbox></div>
              <div class="col-67"><span class="pct-img"><img ng-src="{{item.cart_item_image}}"></span></div>
              </div>
             </div>
           
              <div class="col col-33">  
                   <h6 class="ellipsis2"><a href="#/product/{{item.cart_item_id}}">{{item.cart_item_name}}</a></h6>
                  <span class="pct-price">¥{{item.cart_item_price}}</span>
               	  <span class="pct-price" ng-if="item.tagType">预购</span>
              </div>

              <div class="pct-btm col-33">
                <div class="num-sel-lage clearfix">
                  <a class="inC" ng-click="">-</a>
                  <input type="tel" class="buy-num" ng-model="item.cart_item_qty">
                  <a class="deC" ng-click="">+</a>
                 
                </div>
                <button ng-click="removeFromCart(item.cart_item_id)" class="button button-assertive button-block button-small icon ion-android-delete" ></button>
              </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="detailFoot">
      <div class="detail-btm border-t row">
         <ion-checkbox ng-model="pushNotification.checked" ng-change="pushNotificationChange()" style="height:30px;border-style:none;">全选</ion-checkbox>
        <div class="dr-btm col">
          <div class="cartInfo">
            <p class="c-p1">总计: <span class="countPrice">{{total_amount}}</span></p>
            <p class="c-p2">总数：{{total_qty}}</p>
          </div>
          <a class="goBuging" ng-click="checkout()">去结算</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
