
<ion-view>
  <ion-content ng-controller="DashCtrl" ng-init="loadPageData()">

	<!--Automatically loops back from the begining -->
	<ion-slide-box auto-play ="true" does-continue="true" show-pager="true"  >
	
		<!-- width: 100% height 50% to fill the slidder image according to the layout -->
	   <ion-slide class="swiper-slide swiper-slide-active" style="width:100%; height: 50%; "  ng-repeat="slide in slide_items" >
	      <div>
	         <img  ng-src="{{slide.impageUrl}}"  ng-click="showPageInfo(slide.resouceId,slide.url)" >
	      </div>
	   </ion-slide >
	   
	</ion-slide-box>

   
   <div style="display:block">
        <nav class="menuList">
            <ul class="row">
                <li class="col"><a href="activity-list.html">我的礼包</a></li>
                <li class="col"><a href="presell-list.html">预购产品</a></li>
                <li class="col"><a href="chong-zhi.html">会员充值</a></li>
                <li class="col"><a href="bbs.html">有机生活</a></li>
            </ul>
        </nav>
    </div>

      <div id="main">
           <div class="index-nav clearfixFx" ng-repeat="category in categoryData" >
             <a  ng-click="showCategory(category.data.id)">
                <div class="index-nav-txt">
                    <h6>{{category.data.name}}</h6>
                </div>
                  <img ng-src="{{category.pageAds.impageUrl}}"  width="100%"/> 
             </a>
           </div>
   
       <div class="boxItem likeItem">
            <div class="like">
                <h6><span>推荐商品</span></h6>
            </div>
        </div>
        <div class="likeProduct">
                    <ul class="likeList clearfixEx" ng-repeat="product in productData">
                    
                     <li>
                            <a ng-click="showProduct(product.id)">
                                <div class="likeImg"><img ng-src="{{product.imageUrl}}"  class="lazy" /></div>
                                <div class="like-title ellipsis2">{{product.name}}</div>
                                <p class="like-price"><span class="lk-new">￥<em>{{product.distPrice}}</em></span><span class="lk-old">￥{{product.price}}</span></p>
                                <p class="lk-buyNum"><span>{{product.countSale}}人已购买</span></p>
                            </a>
                            <a class="like-buy" ng-click="addToCart(product.id, product.imageUrl,product.name,product.distPrice)">购物车</a>
                        </li>
                    </ul>
         </div>
 
      </div>          
    
  </ion-content>
</ion-view>
