<ion-view class="padding">
  <ion-content ng-init="loadAccountInfo()">
    <div class="userHeader">
      <div>
        <a class="userPic"><img ng-src="{{headImg}}"></a>
        <p class="userName ellipsis" ng-bind="realName"></p>
      </div>
      <a href="javascript:void(0);" ui-sref="userInfo" class="setUp">设置</a>
    </div>

    <div class="userInfomation border-tb">
      <ul class="infomation-list">
        <li><span id="user_amount" ng-bind="userAmount"></span><p>余额</p></li>
        <li><span id="user_coupon" ng-bind="userCouponCount"></span><p>优惠券</p></li>
        <li><span id="user_point" ng-bind="userPoint"></span><p>积分</p></li>
      </ul>
    </div>

    <div class="userCenter">
      <ul class="userList list1 bor-b">
        <li><a href="javascript:void(0);" ui-sref="myOrder"><span>我的订单</span></a></li>
        <li><a href="javascript:void(0);" ui-sref="rechargeRecord"><span>充值记录</span></a></li>
        <li><a href="javascript:void(0);" ui-sref="address"><span>我的收货地址</span></a></li>
      </ul>

      <ul class="userList list2 bor-b">
        <li><a href="javascript:void(0);" ui-sref="suggestMyMember"><span>推荐我的会员</span></a></li>
        <li><a href="javascript:void(0);" ui-sref="myRecommendMember"><span>我推荐的会员</span></a></li>
        <li><a href="javascript:void(0);" ui-sref="myCoupon"><span>我的优惠券</span></a></li>
      </ul>

      <ul class="userList list3 bor-b">
        <li><a href="javascript:void(0);" ui-sref="myMessage"><span class="task">我的消息</span></a></li>
        <li><a href="javascript:void(0);" ui-sref="myDianZan"><span>我的点赞</span></a></li>
        <li><a href="javascript:void(0);" ui-sref="farmReserve"><span>预约农场采摘</span></a></li>
        <li><a href="javascript:void(0);" ui-sref="appAbout"><span>关于我们</span></a></li>
      </ul>

      <ul>
        <li><button class="button button-block button-assertive" ng-click="userLogOut();">退出登录</button></li>
      </ul>
    </div>
  </ion-content>
</ion-view>
