<ion-view>
  <ion-content>
    <div class="userHeader">
      <div ui-sref="login">
        <a class="userPic"><img ng-src="{{headImg}}"></a>
        <p class="userName ellipsis" ng-bind="realName"></p>
      </div>
      <a href="javascript:;" class="setUp">设置</a>
    </div>

    <div class="userInfomation border-tb">
      <ul class="infomation-list">
        <li><span id="user_amount" ng-bind="userAmount"></span><p>余额</p></li>
        <li><span id="user_coupon" ng-bind="userCouponCount"></span><p>优惠券</p></li>
        <li><span id="user_point" ng-bind="userPoint">0.00</span><p>积分</p></li>
      </ul>
    </div>

    <div class="userCenter">
      <ul class="userList list1 bor-b">
        <li><a href="chong-zhi-order.html"><span>我的订单</span></a></li>
        <li><a href="address.html"><span>我的收货地址</span></a></li>
      </ul>

      <ul class="userList list2 bor-b">
        <li><a href="myShare.html"><span>分享我的二维码</span></a></li>
        <li><a href="myRecommend.html"><span>推荐我的会员</span></a></li>
        <li><a href="myMember.html"><span>我推荐的会员</span></a></li>
        <li><a href="javascript:void(0);" ui-sref="myCoupon"><span>我的优惠券</span></a></li>
      </ul>

      <ul class="userList list3 bor-b">
        <li><a href="myMsg.html"><span class="task">我的消息</span></a></li>
        <li><a href="myAppointment.html"><span>预约农场采摘</span></a></li>
        <li><a href="myWish.html"><span>我的点赞</span></a></li>
      </ul>
    </div>

    <div class="bar bar-footer bar-light padding" ng-click="userLogOut()">
      <div class="title">退出登录</div>
    </div>
  </ion-content>
</ion-view>
