<ion-header-bar class="item-input-inset bar-balanced">
  <i class="ion-ios-location-outline header-location"></i>
  <label class="header-location">广州市</label>

  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
</ion-header-bar>

<ion-view>
  <ion-content>
    <div class="cateList">
      <nav class="cateTab">
        <ul class="row">
          <li class="col cur" data-type="all"><span>综合</span></li>
          <li class="col" data-type="sale"><span>销量</span></li>
          <li class="col" data-type="new"><span>上新</span></li>
          <li class="sortPrice col" data-type="price"><span>价格<i></i></span></li>
        </ul>
      </nav>

      <div class="cateContent">
        <div class="allProduct">
          <div class="allMenu">
            <ul class="allMenuList bor-b">
              <li class="current" data-type="1"><span>全部水果</span></li>
              <li data-type="2"><span>全部水果</span></li>
              <li data-type="3"><span>全部水果</span></li>
              <li data-type="4"><span>全部水果</span></li>
              <li data-type="5"><span>全部水果</span></li>
              <li data-type="6"><span>全部水果</span></li>
            </ul>
          </div>

          <div class="all-product-right">
            <ul class="all-pct-list pList clearfix"></ul>
          </div>
        </div>
      </div>

      <ul class="productsList pList clearfix"></ul>
    </div>
  </ion-content>
</ion-view>
