

<ion-view>
  <ion-content>
    <div class="bbsMenu border-tb">
      <ul class="bbs-menu-list clearfix">
        <li><a href="javascript:void(0);" ui-sref="shop"><span>社区店铺</span></a></li>
        <li><a href="javascript:void(0);"><span>空中田园</span></a></li>
        <li><a href="javascript:void(0);"><span>预约</span></a></li>
        <li><a href="javascript:void(0);" ui-sref="health"><span>养生</span></a></li>
        <li><a href="javascript:void(0);"><span>有机蔬菜</span></a></li>
        <li><a href="javascript:void(0);"><span>有机肉类</span></a></li>
      </ul>
    </div>

    <div class="newArea">
      <h4><span>最新发布</span></h4>
      <div class="newList-content border-t">
        <ul class="newList bor-b">
          <li ng-repeat="blog in blogs">
            <a href="javascript:;">
              <span class="nImg" ui-sref="bbsDetail({bbsId: blog.id})">
                <img ng-src="{{blog.imageUrl}}" class="lazy"/>
              </span>
              <div class="nDesc">
                <h6 class="ellipsis"><span ng-bind="blog.title"></span></h6>
                <p class="n-txt ellipsis2" ng-bind="blog.summary"></p>
                <div class="n-btm row">
                  <time class="col" style="padding-left: 0px;" ng-bind="blog.publishDateString"></time>
                  <div class="n-right n-tool">
                    <span class="n-msg" ng-bind="blog.countWish"></span>
                    <span class="n-ding" ng-bind="blog.countLike"></span>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
