<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="首页" icon="ion-home" href="#/app/dash">
    <ion-nav-view name="app-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="分类" icon="ion-ios-list-outline" href="#/app/category">
    <ion-nav-view name="app-category"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的鲜生" icon="ion-ios-person-outline" href="#/app/account">
    <ion-nav-view name="app-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="购物车" icon="ion-ios-cart-outline" href="#/app/cart">
    <ion-nav-view name="app-cart"></ion-nav-view>
  </ion-tab>

  <ion-tab title="社区" icon="ion-ios-chatboxes-outline" href="#/app/bbs">
    <ion-nav-view name="app-bbs"></ion-nav-view>
  </ion-tab>

</ion-tabs>
